h1 {
    background-color: rgb(243, 240, 235);
    font-weight: 800 !important;
    color: rgb(31, 31, 31);
    margin-bottom: 0px !important;
}
.J {
    padding-left: 10px;
    padding-right: 10px;
}



h2 {
   font-weight: 200 !important;
}
.inv {
    color: rgba(240, 248, 255, 0);
}

.main {
    background-color: rgb(247, 247, 247);
    border-radius: 15px !important;
    border: 5px solid rgb(112, 112, 112);
}

input[type='checkbox']{
    width: 3vw !important;
    height: 4vw;
    margin: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance:none;
    /*depth styling */
    border-right: 2px solid rgba(36, 38, 39, 0.527);
    border-bottom: 2px solid rgb(36, 38, 39);
    border-top: 1px solid rgb(225, 225, 225);
    border-left: 1px solid rgb(255, 255, 255);
    box-shadow: none;
    font-size: 2em;
    
    background-color: #c1c1c1;
    transition-duration: 0.1s;
  }
  input[type='checkbox']:nth-child(2n) {
    background-color: #e1e1e1;
  }

  input[type='checkbox']:checked {
    width: 3vw !important;
    height: 4vw;
    margin: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance:none;
    /*depth styling */
    border-top: 2px solid rgb(36, 38, 39);
    border-left: 3px solid rgb(36, 38, 39);
    border-bottom: 1px solid rgba(225, 225, 225, 0);
    border-right: 1px solid rgba(255, 255, 255, 0);
    box-shadow: none;
    font-size: 2em;
    background-color: #5d90d8;
    transition-duration: 0.1s;
  }

  .light {
    background-color: rgb(255, 247, 242) !important;
    border-right: 3px solid rgba(150, 116, 89, 0.192) !important;
    border-bottom: 3px solid rgba(201, 187, 170, 0.253) !important;
    border-left: 3px solid rgba(255, 255, 255, 0.158) !important;
    border-top: 3px solid rgba(255, 255, 255, 0.308) !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 10px !important;
    transition-duration: 0.5s !important;

  }

  .light:checked {
    background: #e63946 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 50%;
    transition-duration: 0.2s !important;
  }
  body {
    background-color: rgb(255, 255, 255) !important;
  }
#startButton {
    background-color: rgb(145, 208, 96);
    color: white;
    width: 15%;
}
#startButton:active {
    background-color: rgb(70, 174, 28);
    color: rgb(200, 200, 200);
}
#startButton:disabled {
    background-color: rgb(199, 234, 185);
    color: rgb(255, 255, 255);
}
#stopButton {
    background-color: rgb(251, 118, 88);
    color: white;
    width: 15%;
}
#stopButton:active {
    background-color: rgb(255, 111, 0);
    color: rgb(255, 255, 255);
}
#stopButton:disabled {
    background-color: rgb(209, 162, 126);
    color: rgb(219, 219, 219);
}